    <div class="col-6">

            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" name="nome"
                    placeholder="Entre com o nome..." value="<%= produto.nome%>">
            </div>
    </div>
    <div class="col-6">
            <div class="form-group">
                <label for="inputNome">Valor Unitario</label>
                <input type="number" class="form-control" id="inputVl" name="vlUnit"
                placeholder="0,00" value="<%= produto.vlUnit%>">
            </div>
    </div>

    <div class="col-6">
            <div class="form-group">
                <label for="inputCodigo">Codigo de Barras</label>
                <input type="text" class="form-control" id="inputCodigo" name="codigoBarras"
                placeholder="0000000" value="<%= produto.codigoBarras%>">
            </div>
    </div>